.card img{
    width: 100%;
}

.card-img-top{
    object-fit: cover;
}
.card{
    padding: 0;
}
.card .captiom-full{
    padding: 9px;
}

#delete_form{
    display: inline;
}
.jumbotron{
    background:url(https://images.unsplash.com/photo-1516865131505-4dabf2efc692?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2390&q=80);
    background-size: cover;
    display: flex;
    align-items: center;
	justify-content: center;
    text-align: center;
    color:white;
}
.add_button{
    margin-top: 50px;
}

.show_page{
    margin-bottom: 15px;
    margin-top:20px;
}